{% extends 'base.html.twig' %}

{% block title %}Cauldron Question{% endblock %}
{% block body %}

<h1>{{ question }}</h1>

<div>
    enventuellemen, une question sera posé ici.
</div>


<h2>Answers ({{ answers | length }})</h2>
<ul>
    {% for answer in answers %}
        <li>{{ answer }}</li>
    {% endfor %}
</ul>

{% endblock %}